body { 
    text-align: center;
    background-color: #696969;
}
img {
    width: 900px;
    height: 600px;
    border-style:inherit;
    border-radius:15px;
    border-color: black;
}

p {
    font-size: 30px;
    color: black;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1 {
    font: size 50px;;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

a {
    font-size: 30px;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

iframe {
    border-radius: 15px;
    border-style: inherit;
}